<section class="section about-section gray-bg" id="about">
    <div id="particles-js" class="container mt-3">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6 col-md-6 col-xl-6 col-sm-12">
                <div class="col-lg-6 col-md-6 col-xl-6 col-sm-12">
                    <div class="about-avatar show">
                        <img src="https://scontent.fdar2-1.fna.fbcdn.net/v/t39.30808-6/352534453_745990697277086_6884053054939277970_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=a2f6c7&_nc_ohc=AvNlf8DPEnoAX_4nERA&_nc_oc=AQkmVC3QhUKWX5-4x5mUUxpIe4b_Zu6vj48bgtxqNL9bix0aO6nXn8k7ZhasWSI054s&_nc_pt=5&_nc_ht=scontent.fdar2-1.fna&oh=00_AfB2FRe1ZfbI0gE51iP-zfw8Mwx5voSjCvg5w_rIwwAfNw&oe=6519CEB6" title="" alt="">
                    </div>
                </div>
                <div class="about-text go-to">
                    <h3 class="text-success">About Me</h3>
                    <h6 class="lead">A Lead FullStack Developer &amp; Cybersecurity expert based in Zanzibar</h6>
                    <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites, web services and mobile apps. My passion is to design digital user experiences through the bold technology and meaningful concepts.</p>
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="">
                                <label class="text-success">Birthday</label>
<!--                                 <p>4th December 1996</p> -->
                            </div>
                            <div class="">
                                <label class="text-success">Age</label>
                                <p>26 Yr</p>
                            </div>
                            <div class="">
                                <label class="text-success">Residence</label>
                                <p>Tanzania</p>
                            </div>
                            <div class="">
                                <label class="text-success">Address</label>
                                <p>Zanzibar, Stone Town</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <label class="text-success">E-mail</label>
                                <p>amhafidh@proton.me</p>
                            </div>
                            <div class="">
                                <label class="text-success">Phone</label>
                                <p>+255 756 177 116</p>
                            </div>
                            <div class="">
                                <label class="text-success">Skype</label>
                                <p>Abdulhalim Hafidh</p>
                            </div>
                            <div class="">
                                <label class="text-success">Freelance</label>
                                <p>Available</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6 col-sm-12">
                <div class="about-avatar hide">
                    <img src="https://scontent.fdar2-1.fna.fbcdn.net/v/t39.30808-6/295416941_3350568215166351_8777171334102452182_n.jpg?_nc_cat=104&cb=99be929b-3346023f&ccb=1-7&_nc_sid=174925&_nc_ohc=Mo-Nnd_ysUEAX87j8rB&_nc_pt=5&_nc_ht=scontent.fdar2-1.fna&oh=00_AfA-bcod2CmvkXVf26egnN_TODnZ9jXV42VQhLcc5VoXfw&oe=64D4AC9D" title="" alt="">
                </div>
            </div>
        </div>
        <div class="counter">
            <div class="row">
                <div class="col-md-3 col-xl-3 col-sm-12 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2 text-success" data-to="500" data-speed="500">20</h6>
                        <p class="m-0px font-w-600">Happy Clients</p>
                    </div>
                </div>
                <div class="col-md-3 col-xl-3 col-sm-12 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2 text-success" data-to="150" data-speed="150">10</h6>
                        <p class="m-0px font-w-600">Project Completed</p>
                    </div>
                </div>
                <div class="col-md-3 col-xl-3 col-sm-12 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2 text-success" data-to="850" data-speed="850">50</h6>
                        <p class="m-0px font-w-600">Photo Capture</p>
                    </div>
                </div>
                <div class="col-md-3 col-xl-3 col-sm-12 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2 text-success" data-to="190" data-speed="190">200</h6>
                        <p class="m-0px font-w-600">Telephonic Talk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
