<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand stylish-logo" href="#">Abdulhalim Hafidh</a>
          <button class="navbar-toggler" (click)="toggleNavbar()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="background-color: white;"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="btn btn-outline-dark btn-sm rounded-pill border-white" aria-current="page" (click)="hideMobileMenu()" routerLink="">Home</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-dark btn-sm rounded-pill border-white" aria-current="page" (click)="hideMobileMenu()" routerLink="/about-me">About Me</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-dark btn-sm rounded-pill border-white" aria-current="page" (click)="hideMobileMenu()" routerLink="/projects">Projects</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-dark btn-sm rounded-pill border-white" aria-current="page" (click)="hideMobileMenu()" routerLink="/contact">Contact</a>
              </li>
            </ul>
            <!-- Add Dark Mode Button -->
            <button class="btn btn-outline-dark btn-sm rounded-pill border-white d-md-none ml-3" type="button" onclick="toggleDarkMode()">Dark Mode</button>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
