.stylish-logo {
  color: white;
  }
  
.btn {
  color: white;
  margin-left: 5px;
}

.navbar-nav .nav-link {
  border: 1px solid white;
  border-radius: 30px;
  padding: 8px 16px;
}

.navbar-nav .nav-link:hover {
  background-color: white;
  color: black;
}

.navbar-nav .nav-link.active {
  background-color: white;
  color: black;
}

/* Custom styles for the navigation bar */
.navbar {
   /* Set your preferred background color */
}

.stylish-logo {
  font-size: 24px; /* Customize the font size of the logo */
}

/* Hide the toggler icon on larger screens (desktop) */

