


<div class="container banner-container">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
      <div id="particles-js" class="particles-container">
        <div class="row">
          <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
            <div class="card profile-card mt-0 transparent-card">
              <img class="card-img-top" src="https://scontent.fdar2-1.fna.fbcdn.net/v/t39.30808-6/275732954_3246789472210893_6401986318093417540_n.jpg?_nc_cat=103&cb=99be929b-3346023f&ccb=1-7&_nc_sid=174925&_nc_ohc=mCfMoXnXnJQAX_Qw2uJ&_nc_pt=5&_nc_ht=scontent.fdar2-1.fna&oh=00_AfD7pKrgooYV-eNfZasSwkxjhGVb4jpS90QQ7pcJ3WI1Zg&oe=64D3A05C" alt="Profile Image">
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-xl-8 col-sm-12">
            <div class="card profile-card mt-0 transparent-card">
              <div class="card-body">
                <h1 class="heading-title d-none d-sm-block text-success">Welcome</h1>
                <p class="typewriter-text" #textContainer>
                  
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
